// Colors
$blue: #097cf7;
$light-blue: #337cf3;
$black: #0d1e31;
$grey: #82858a;
$purple: #313c59;
$white: #fff;

// Fonts
$small: 16px;
$medium: 20px;
$big: 48px;

$large-padding: 10px 15px;
$big-padding: 20px 30px;

$default-margin-top: 30px;
$big-margin-top: 90px;

$border-radius: 4px;
